.section {
    box-shadow: 8px 8px 24px 0px rgb(208, 208, 214);
    margin-top: 5px;
  }
  
  .section__listItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    background-color: white;
    border: none; 
  }
  
  .section__header {
    flex-grow: 1;
    background-color: white;
    border: none;
    margin-bottom: 2px;
    margin-top: 5px;
    padding: 5px;
  }
  
  
  
  
  