.buttons__button{
    background-color: white;
    color: teal;
    font-weight: 400;
    padding: 10px;
    border: none;
    transition: 1.5s;

}
.tasks__buttons{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;  
}